// Theme colors
$blue: #005db9;
$blue_darker: #002d74;
$red: #D12A2F; // #de1f26 (old red)
$black: #333333;
$gold: #F07621;
$gold_darker: #F07621;
$white: #fff;


$primary_color: $blue;

$nav_link_color: $black;
$nav_mobile_color: $blue_darker;

::selection {
	background: rgba($primary_color,0.5);
}

// Theme fonts
$heading_font: 'eb-garamond', serif;
$paragraph_font: 'raleway', sans-serif;
$label_font: 'raleway', sans-serif;