.sign_in_links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media screen and (min-width:1001px) {
		flex-direction: row;
		align-items: center;
	}

	a {
		border-radius: 20px;
		letter-spacing: 0.05em;
	}
}

// desktop styles
@media screen and(min-width: 1001px) {
	#mini-top-nav {
		display: flex;
		flex-direction: row;

		li {
			position: relative;
			margin-left: 5px;
			margin-right: 5px;

			a {
				color: $blue;
				border-radius: 20px;
				padding: 6px 12px;
				letter-spacing: 0.05em;
				transition: 0.1s ease-out;
				line-height: 1.2;

				&:hover {
					background-color: $blue;
					transition: 0.1s ease-out;
					color: $white;
				}
			}

			.sub-menu {
				position: absolute;
				top: 1.75rem;
				left: 0;
				transition: 0.1s ease-out;
				width: 14rem;
				visibility: hidden;
				overflow: hidden;
				background-color: $blue;

				li {
					transition: 0.2s ease-out;
					height: 0;
					margin: 0;
					background-color: $blue;
				}

				a {
					background-color: $blue;
					color: $white;
					display: inline-block;
					opacity: 0;
					width: 12.5rem;
					transition: 0.2s ease-out;
					padding: 0.5rem 1.25rem;
				}
			}

			// li hover state
			&:hover {
				> .sub-menu {
					transition: 0.1s ease-out;
					visibility: visible;
					background-color: $blue;
					padding: 0.5rem 0;

					li {
						transition: 0.2s ease-out;
						height: 34px;
					}

					a {
						border-radius: 0;
						opacity: 1;
						transition: 0.2s ease-out;

						&:hover {
							background-color: $blue_darker;
							transition: 0.2s ease-out;
						}
					}
				}
			}
		}
	}
} // end Desktop Media

// mobile styles
@media screen and (max-width: 1000px) {
	header + nav .sign_in_links .sign_in_button {
		padding: 0.5rem;
		margin-bottom: 20px;
		margin-left: -0.5rem;
	}

	#mini-top-nav {
		display: flex;
		flex-direction: column;
		text-align: left;

		li {
			margin-bottom: 20px;
		}

		a {
			padding: 0.5rem;
			color: $white;
			margin-left: -0.5rem;
		}

		.menu-item-has-children {
			position: relative;
			margin-bottom: 10px;

			> a {
				display: inline-block;
				width: 15rem;

				&:after {
					position: absolute;
					right: 0;
					content: '\f078';
					font-family: FontAwesome;
					margin-left: 1.5rem;
					font-size: 14px;
					transition: 0.2s ease-out;
					transform: rotate(0); // reset chevron
				}
			}

			a.chevron-rotate:after {
				transform: rotate(180deg);
				transition: 0.2s ease-out;
			}
		}

		.sub-menu {
			position: relative;
			margin-top: 20px;
			margin-bottom: 25px;

			a {
				font-size: 0.9375rem; // 15px
			}
		}
	}
}