@mixin h_a( $color: $primary_color ) {
	color: $color;
	font-family: $heading_font;
	font-weight: 700;
	// font-size: 48px;
	@include adjust_size('font-size', 56px);
	// text-transform: uppercase;
	line-height: 1.1;
	
	@include mobile() {
		font-size: 56px;
	}
	@include phone() {
		font-size: 46px;
	}
}
@mixin h_b( $color: $red, $smaller: false ) {
	color: $color;
	font-family: $heading_font;
	font-weight: 700;
	letter-spacing: 0.025em;
	// text-transform: uppercase;
	font-size: 46px;
	line-height: 1.2;
	@include mobile() {
		font-size: 42px;
	}
	@include phone() {
		font-size: 48px;
	}
	@if ($smaller == true) {
		font-size: 34px;
		@include mobile() {
			font-size: 32px;
		}
		@include phone() {
			font-size: 30px;
		}
	}
}
@mixin h_c( $color: $black ) {
	color: $color;
	font-family: $label_font;
	font-weight: 700;
	letter-spacing: 0.05em;
	// font-size: 15px;
	font-size: 20px; // @include adjust_size('font-size', 15px);
	line-height: 1.2;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	@include desktop() {
		font-size: 18px;
	}
	@include mobile() {
		font-size: 17px;
	}
	@include phone() {
		font-size: 16px;
	}
}
@mixin h_d( $color: $black ) {
	@include p($color);
	font-weight: bold;
}
@mixin p( $color: $black ) {
	color: $color;
	font-family: $paragraph_font;
	// font-size: 15px;
	@include adjust_size('font-size', 15px);
	line-height: 1.7;
	font-weight: 500;
	letter-spacing: 0.025em;
}
@mixin label( $color: mix($black,#fff,50%) ) {
	color: $color;
	font-family: $paragraph_font; // $heading_font;
	font-weight: 500;
	letter-spacing: 0.05em;
	// font-size: 12px;
	@include adjust_size('font-size', 12px);
	line-height: 1.4;
	
	a {
		transition: color 0.3s;
		
		&:hover {
			color: $black;
		}
	}
}
@mixin a( $color: $black ) {
	display: inline-block;
	position: relative;
	color: $color;
	font-family: $label_font;
	// font-size: 15px;
	@include adjust_size('font-size', 15px);
	line-height: 1.4;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	box-shadow: none;
	background: transparent;
	// transition: background 0.1s;
	
	@include phone() {
		font-size: 16px;
	}
	&:hover, &:focus {
		color: $blue;
	}
}
@mixin button( $color: $blue ) {
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: $label_font;
	// font-size: 15px;
	@include adjust_size('font-size', 15px);
	line-height: 1.4;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-shadow: none;
	box-shadow: none;
	padding: 12px 25px;
	// margin-top: 30px;
	background: $color;
    border: 0;
	border-radius: 0 !important;
	transition: background 0.1s;
	cursor: pointer;
	
	padding-right: 55px;
	transition: background 0.3s;
	
	@include phone() {
		font-size: 16px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		right: 25px;
		width: 7px;
		height: 7px;
		margin-top: -5px;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 25px;
		width: 2px;
		height: 12px;
		margin-top: -4px;
		background: #fff;
		transform-origin: top center;
		transform: rotate(45deg);
	}
	&[href^="http://192.168.2.70"],
	&[href^="http://192.168.2.85"],
	&[href^="http://a8a.f0b.mwp.accessdomain.com"],
	&[href^="https://naspnet.org"],
	&[href^="mailto:"],
	&[href^="tel:"] {
		padding-right: 25px;
		
		&:before, &:after {
			content: none;
		}
	}
	
	&:hover, &:focus {
		background-color: $blue;
		
		@if ($color == $blue) {
			background-color: $blue_darker;
		}
	}
}
@mixin pattern() {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: -185px;
		left: 0;
		width: 15%;
		height: 185px;
		background: image-url('pattern.png') 100% 100%/55px 55px;
		
		@include mobile() {
			left: auto;
			right: 0;
			width: 25%;
		}
	}
	&:after {
		content: '';
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 15%;
		height: 195px;
		background: image-url('pattern_white.png') 100% 15px/55px 55px;
		pointer-events: none;
		
		@include mobile() {
			left: auto;
			right: 0;
			width: 25%;
		}
	}
}