// display numbers in-line and not jumbled
a, p, span {
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari 
	font-feature-settings: "lnum" 1; // standard for browsers (latest & last 2 versions)
}

.wp-block-table table td {
	font-size: 19px;
	font-weight: 500;
	font-family: $paragraph_font !important;
	line-height: 1.7;
	color: $black;
}

// override hustle styles to fix popup alignment and spacing on desktop and mobile
.hustle-ui.module_id_7 {
	padding: unset !important;
}

.hustle-layout {
	padding: 16px!important;
	@media screen and (min-width: 768px) {
		padding: 16px 40px !important;
	}
}

.hustle-ui.module_id_7 .hustle-layout .hustle-image {
	height: 18rem !important;
	@media screen and (min-width: 768px) {
		height: auto !important;
	}

	img {
		object-position: unset !important;
	}
}

.hustle-ui:not(.hustle-size--small) .hustle-info.hustle-info--compact .hustle-layout {
	align-items: center;
}

h1 { color: #F07621; }

button, div.join-block > a {
	display: block !important;
	border-radius: 50%;
}

.home h1 {
	font-weight: 800 !important;
}