// @import '_gdusa/reset';
@import '_gdusa/shortcuts';

@import 'config';
@import 'mixins';

body {
	background: red;
	
	h1 {
		color: red !important;
	}
	h1 + h2 {
		padding-top: 0 !important;
	}
	h2 {
		position: relative;
		@include h_b();
		margin-bottom: 40px;
		@include spacing('padding-top');
		
		em {
			display: block;
			@include h_c();
			font-style: normal;
			margin-bottom: 20px;
		}
		&:first-child {
			padding-top: 0 !important;
		}
	}
	h3 {
		@include h_c($blue);
		font-weight: bold;
		font-family: $heading_font;
		@include spacing('margin-top', 0.5);
		@include spacing('margin-bottom', 0.25);
		
		&:first-child {
			margin-top: 0;
		}
	}
	h4 {
		@include h_c();
		font-size: 20px !important;
		margin-top: 40px;
		margin-bottom: 10px;
		line-height: 1.6;
		
		&:first-child {
			margin-top: 0;
		}
	}
	p, ul, li, dl {
		@include p();
	
		em {
			// font-weight: bold;
		}
		a[href] {
			color: $gold_darker;
			// @include a($gold_darker);
			font-weight: bold;
			margin-top: 10px;
			transition: color 0.3s;
			
			&:after {
				content: '';
				display: inline-block;
				position: relative;
				width: 12px;
				height: 12px;
				margin-left: 3px;
				margin-bottom: -1px;
				background: image-url('external_link_arrow_gold.png') no-repeat 0 0/12px 12px;
				transition: background 0.3s;
			}
			&[href^="http://192.168.2.85"],
			&[href^="http://a8a.f0b.mwp.accessdomain.com"],
			&[href^="https://naspnet.org"],
			&[href^="mailto:"],
			&[href^="tel:"] {
				&:after {
					content: none;
				}
			}
			&:hover, &:focus {
				color: $blue;
				
				&:after {
					background-image: image-url('external_link_arrow_blue.png');
				}
			}
		}
		+ p, + ul, + li, + dl {
			margin-top: 10px;
		}
	}
	ul li {
		list-style: disc;
	}
	ol li {
		list-style: decimal;
	}
	ul, ol {
		li {
			margin-left: 40px;
			padding-left: 10px;
			
			@include phone() {
				margin-left: 17px;
			}
		}
	}
	blockquote {
		border-left: solid 4px $gold;
		padding-left: 30px;
		margin-top: 60px;
		margin-bottom: 60px;
		
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		p {
			// font-size: 20px;
		}
		cite {
			display: block;
			@include p(mix($black,#fff,50%));
			text-align: right;
			// color: mix($black,#fff,50%);
		}
		@media ( max-width: 400px ) {
			padding-left: 20px;
		}
	}
	.wp-block-button {
		@include spacing('margin-top', 0.5);
		margin-bottom: 0;
		
		&:first-child {
			margin-top: 0 !important;
		}
		a {
			position: relative;
			@include button($gold_darker);
			font-weight: bold;
			// border-radius: 0 !important;
			// background: $blue;
		}
	}
	.wp-block-image {
		@include spacing('margin-top', 0.5);
		@include spacing('margin-bottom', 0.5);
		
		&:first-child {
			margin-top: 0 !important;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
		figcaption {
		    position: relative;
		    z-index: 1;
			@include p(mix($black,#fff,70%));
			font-size: 14px;
			line-height: 1.4;
			text-align: left;
			margin-top: 20px;
			margin-bottom: 0;
		}
	}
	.wp-block-columns {
		@include spacing('margin-top', 0.5);
		@include spacing('margin-bottom', 0.5);
		
		&.members_stats {
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				z-index: -1;
				top: -185px;
				left: -25%;
				width: 50%;
				height: 185px * 2;
				background: image-url('pattern.png') 100% 100%/55px 55px;
				
				@include mobile() {
					left: auto;
					@include spacing('right', -1);
					// @include spacing('width', 2);
				}
			}
			.wp-block-column {
				// text-align: center;
				h2 {
					color: $blue;
					margin-bottom: 10px;
				}
				h2 + p {
					@include h_c();
				}
				h2 + p + h2 {
					padding-top: 0 !important;
					@include spacing('margin-top', 0.5);
				}
				&:first-child {
					padding-bottom: 30px;
				}
			}
			ul li {
	/*
				list-style: none;
				margin-left: 0 !important;
				padding-left: 0 !important;
	*/
				margin-left: 17px !important;
				// text-align: center;
			}
		}
		+ h2 {
			@include spacing('margin-top', -0.5);
		}
		&.has-2-columns.full {
			@include spacing('margin-top');
			@include spacing('margin-bottom');
			
			@media ( min-width: 800px ) {
				@include spacing('margin-left', -1);
				@include spacing('margin-right', -1);
			}
			.wp-block-column {
				margin-bottom: 0;
				flex-basis: calc(50% - 30px);
				
				@include mobile() {
					flex-basis: calc(50% - 25px);
				}
				@include phone() {
					flex-basis: 100%;
				}
				&:first-child {
					@include phone() {
						@include spacing('margin-bottom', 0.5);
					}
				}
				&:not(:first-child) {
					@include phone() {
						@include spacing('margin-top', 0.5);
					}
					@include phone(false) {
						@include spacing('margin-left');
					}
				}
				.wp-block-image {
					position: relative;
					overflow: hidden;
					border-bottom-right-radius: 15rem; // 112px = #rem * 16;
				}
			}
		}
	}
	iframe {
	    width: 100%;
	    @include spacing('margin-top', 0.5);
	    @include spacing('margin-bottom', 0.5);
	}
}