@import '_gdusa/reset';
@import '_gdusa/shortcuts';

@import 'config';
@import 'mixins';

@import 'components/page';
@import 'components/form';

body {
	background: $blue_darker;
	@include p(#fff);
}
.login {
	.message, #login_error {
		color: #fff;
		background: $blue;
		border: none;
		box-shadow: none;
		text-align: center;
	}
	#login {
		width: auto;
		@include spacing('padding');
		max-width: 400px;
	}
	h1 a {
		width: 150px;
		height: 75px;
		background: image-url('logo_main.svg') no-repeat 0 0/100% auto;
		margin-bottom: 50px;
	}
	form {
		@include form();
		padding: 0;
		background: transparent;
		box-shadow: none;
		margin: auto;
		
		input[type=text], input[type=password] {
			background: #fff;
		}
		input[type=submit] {
			@include button($gold);
		}
		label, .forgetmenot label {
			font-family: inherit;
			font-size: inherit;
			letter-spacing: inherit;
		}
	}
	#nav {
		text-align: center;
		@include p(#fff);
		
		a {
			color: #fff;
			
			&:hover {
				color: $gold;
			}
		}
	}
	#backtoblog {
		display: none;
	}
	.privacy-policy-page-link {
		display: none;
	}
}