@import '_gdusa/reset';
@import '_gdusa/shortcuts';

@import 'config';
@import 'mixins';

@import 'components/header';
@import 'mini-nav';
@import 'components/footer';
@import 'components/home';
@import 'components/page';
@import 'components/form';
@import 'components/membership';
@import 'components/membership_type_form';
@import 'components/news';
@import 'components/leadership';
@import 'components/corp_member_directory';
@import 'components/funnels';
@import 'components/plans_table';
@import 'components/benefits_section';
@import 'components/jobs';

@import 'overrides';

.screen_reader_text {
	display: none;
}

a {
	border-radius: 6px;
}

body.page:not(.home):not(.page-id-3287):not(.page-id-4566) main .wp-block-button a, body.single main .wp-block-button a {
	border: unset !important;
	border-radius: 6px !important;
}