body.page:not(.home) main .benefits_section { // .wp-block-group
	position: relative;
	z-index: 1;
	background: $blue;
	@include spacing('padding-top');
	@include spacing('padding-bottom');
	@include spacing('padding-left');
	@include spacing('padding-right');
	@include spacing('margin-top');
	// @include spacing('margin-bottom');
	@include spacing('margin-left', -1);
	@include spacing('margin-right', -1);
	@include pattern();
	
	h2 {
		color: #fff !important;
		@include spacing('margin-bottom', 0.5);
		margin-left: 25px;
		
		@include laptop() {
			margin-left: 20px;
		}
		@include mobile() {
			margin-left: 15px;
		}
		@include phone() {
			margin-left: 10px;
		}
	}
	> .wp-block-group__inner-container {
		margin: -25px;
		font-size: 0;
		
		@include laptop() {
			margin: -20px;
		}
		@include mobile() {
			margin: -15px;
		}
		@include phone() {
			margin: -10px;
		}
		> .wp-block-group {
			display: inline-block;
			vertical-align: top;
			width: percentage(1/3);
			list-style: none;
			margin-left: 0;
			// padding-left: 0;
			padding: 25px;
			box-sizing: border-box;
			
			@include laptop() {
				padding: 20px;
			}
			@include mobile() {
				padding: 15px;
				width: 50%;
			}
			@include phone() {
				padding: 10px;
				width: 100%;
				
				+ .wp-block-group {
					margin-top: 20px;
				}
			}
			.image {
				display: block;
				width: 100px;
				height: 100px;
				background-size: 100% auto;
				background-repeat: no-repeat;
				background-position: 0 0;
				margin-bottom: 30px;
				
				@include mobile() {
					width: 80px;
					height: 80px;
				}
			}
			h4, p {
				color: #fff;
			}
			a[href] {
				display: inline-block;
				color: #fff;
				margin-top: 10px;
				
				&:after {
					background-image: image-url('external_link_arrow_white.png');
				}
				&:hover, &:focus, &:active {
					color: $gold;
					
					&:after {
						background-image: image-url('external_link_arrow_gold.png');
					}
				}
			}
		}
	}
	&:before, &:after {
		left: auto;
		right: 0;
	}
	&:after {
		background-image: image-url('pattern_blue_darker.png');
	}
}
body.page:not(.home) main .content_inner:last-child .benefits_section:last-child {
	@include spacing('margin-bottom', -1.5);
}
body.page-id-15 .bottom_action {
	margin-top: 0 !important;
}