body.page-id-49:not(.home) main {
	h4 {
		@include spacing('margin-top', 0.5);
		@include spacing('margin-bottom', 0.25);
		
		@include mobile() {
			@include spacing('margin-top');
			@include spacing('margin-bottom', 0.5);
		}
		&:first-child {
			margin-top: 0 !important;
		}
	}
	ul {
		margin: -40px -40px;
		
		@media ( max-width: 700px ) {
			margin: -20px;
		}
		li {
			display: inline-block;
			vertical-align: middle;
			width: 33.333%;
			list-style: none !important;
			padding: 40px 40px;
			margin: 0 !important;
			box-sizing: border-box;
			
			@media ( max-width: 700px ) {
				width: 50%;
				padding: 20px;
			}
			a, a[href] {
				.image { // img
					display: block;
					width: 100%;
					height: auto;
					// padding-top: 66.667%;
					background-size: contain;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					
/*
					+ .name {
						display: block;
						color: #999;
						font-weight: normal;
						font-size: 0.75em;
						line-height: 1.5;
						padding-top: 10px;
						transition: color 0.3s;
						font-style: italic;
					}
*/
				}
				.tag {
					display: block;
					color: #999;
					font-weight: normal;
					font-size: 0.75em;
					line-height: 1.5;
					padding-top: 10px;
					transition: color 0.3s;
					font-style: italic;
				}
				&:after {
					content: none !important;
				}
				&:hover {
					.image + .name {
						// color: $black;
					}
				}
			}
		}
	}
}