footer {
	position: relative;
	background: $blue;
	@include spacing('padding-top', 0.5);
	@include spacing('padding-bottom', 0.5);
	@include spacing('padding-left');
	@include spacing('padding-right');
	text-align: center;
	
	@include mobile() {
		@include spacing('padding-top');
		@include spacing('padding-bottom');
	}
	.phone_outer {
		@include h_c(#fff);
		font-size: 24px !important;
		margin-bottom: 40px;
		transition: color 0.3s;
		
		&:hover, &:focus, &:active {
			color: $gold;
		}
	}
	nav {
		a, a[href] {
			@include a(#fff);
			// display: block;
			padding: 10px 20px;
			transition: color 0.3s;
			
			@include mobile() {
				padding: 10px 15px;
			}
			&:hover, &:focus, &:active {
				color: $gold;
			}
			&[data-active] {
				color: $blue_darker;
			}
		}
	}
	.social_media {
		margin: 30px 0;
		
		a {
			display: inline-block;
			width: 60px;
			height: 60px;
			background-size: 24px 24px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			@include hide_text();
			transition: background 0.3s;
			border-radius: 100%;
			
			&.facebook {
				background-image: image-url('social/facebook.png');
			}
			&.twitter {
				background-image: image-url('social/twitter.png');
			}
			&.linked_in {
				background-image: image-url('social/linkedin.png');
			}
			&.youtube {
				background-image: image-url('social/youtube.png');
			}
			&:hover {
				background-color: $blue_darker;
			}
		}
	}
	.spcb_logos {
		margin: 30px 0;
		text-align: center;
		
		> div {
			display: inline-block;
			vertical-align: middle;
			background-size: 100% auto;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			
			&.ncca_logo {
				width: 70px;
				height: 78px;
				background-image: image-url('footer/ncca_logo.png');
			}
			&.ice_logo {
				width: 90px;
				height: 32px;
				background-image: image-url('footer/ice_logo.png');
				margin-left: 30px;
			}
		}
	}
	.contact_info {
		display: inline-block;
		vertical-align: middle;
		width: 30%;
		
		@include mobile() {
			display: block;
			width: auto;
			text-align: center;
		}
		p {
			@include p(#fff);
			font-size: 14px !important;
			line-height: 1.5;
		}
	}
	.legal_outer {
		padding-top: 15px;
		
		a {
			@include p(#fff);
			font-size: 14px !important;
			font-weight: bold;
			line-height: 1.5;
			padding: 10px 10px;
			transition: color 0.3s;
			
			&:hover {
				color: $gold;
			}
		}
	}
}