$form-line-height: 1.6;
$form-field-padding: 10px;
$focus-color: $blue;
$gray_color: mix(#000,#fff,50%);
$gray_color_lighter: mix($black,#fff,20%);
$warning_color: $red;
$text-inputs: 'input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week]';

::selection {
	background: rgba($focus-color,0.33); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: rgba($focus-color,0.33); /* Gecko Browsers */
}

%field {
	@include p();
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	max-width: 100%;
	max-height: 50vh;
	// font-size: 16px;
	line-height: $form-line-height;
	outline: none;
	border: 0;
	border: solid 1px $gray_color_lighter;
	border-radius: 0;
	box-shadow: none;
	background: transparent;
	margin-top: 10px;
	padding: $form-field-padding 15px;
	transition: border 0.3s, box-shadow 0.3s;
	
	-webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance:none;
    appearance: none;

	&:focus {
		border-bottom: solid 1px $focus-color;
		box-shadow: 0 1px 0 $focus-color;
		
		+ .placeholder,
		+ * + .placeholder {
			opacity: 0.5;
		}
	}
}
%label {
	@include p($gray_color);
	// @include tiny_label();
	position: absolute;
	z-index: 0;
	top: 10px;
	left: 15px;
	// font-size: 14px !important;
	line-height: $form-line-height;
	// opacity: 0;
	// transform: translateY(5px);
	padding: $form-field-padding 0;
	transform-origin: 0 50%;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
	
}
%placeholder {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	color: $gray_color;
	font-family: $paragraph_font;
	font-size: 15px;
	letter-spacing: 0.05em;
	font-weight: normal;
	font-style: normal;
	line-height: $form-line-height;
	padding: $form-field-padding 0;
	// transition: opacity 0.3s;
}

input[name="post_password"] {
	display: block;
	width: 100%;
	max-width: 50%;
	@extend %field;
}
input[name="Submit"] {
	@include button();
}

@mixin form() {
	// position: relative;
	overflow: hidden;
	
	fieldset {
		position: relative;
		margin-top: 28px;
		
		h3 {
			@include h_c();
			font-family: $heading_font;
		}
		label {
			@extend %label;
		}
		.placeholder {
			@extend %placeholder;
		}
		&.notempty {
			input[type=date] {
				color: $gray_color;
			}
			label {
				opacity: 1;
				transform: translate(-15px, -37px) scale(0.8);
			}
			.placeholder {
				opacity: 0 !important;
			}
	/*
			#{$text-inputs}, textarea {
				&:focus + label {
					color: rgba(#000,0.5);
				}
			}
	*/
		}
		.error_message {
			@include p();
			line-height: 1.3;
			color: $warning_color;
			text-align: left;
			padding-top: $form-field-padding + 2px;
		}
		&.error {
			#{$text-inputs}, textarea, select {
				border-bottom-color: $warning_color;
				box-shadow: 0 1px 0 $warning_color;
			}
		}
		&.half {
			width: 50%;
			display: inline-block;
			vertical-align: top;
		}
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@for $i from 1 through 9 {
			&.width-#{$i * 10} {
				width: percentage($i / 10);
				display: inline-block;
				vertical-align: top;
			}
		}
	}
	// all text inputs
	#{$text-inputs} {
		@extend %field;
	}
	input[type=date] {
		color: transparent;
	}
	select {
		@extend %field;
		background-image: image-url('select_bg.png');
		background-position: 100% 50%;
		background-repeat: no-repeat;
		background-size: 28px 8px;
		
		&:focus {
			// background-image: image-url('layout/select_focus_bg.png');
		}
		&.no_arrow {
			background-image: none !important;
		}
	}
	textarea {
		@extend %field;
		height: 24px;
		overflow: hidden;
		overflow-y: auto;
		-ms-overflow-style: none;
	}
	#{$text-inputs}, textarea, select {
		&[data-validate*="required"] + .placeholder:after,
		&[data-validate*="required"] + * + .placeholder:after {
			content: ' *';
		}
	}
	.checkbox_outer {
		
		label {
			@include p($gray_color);
			top: 0;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			padding-left: 32px;
			margin-right: 15px;
			pointer-events: auto;
			transition: color 0.3s;
			
			&:before {
				content: '';
				position: absolute;
				top: 11px;
				left: 0;
				border-radius: 100%;
				border: solid 2px mix(#000,#fff,20%);
				width: 20px;
				height: 20px;
				box-sizing: border-box;
				transition: border 0.3s;
			}
			&:after {
				content: '';
				position: absolute;
				top: 16px;
				left: 5px;
				border-radius: 100%;
				width: 10px;
				height: 10px;
				transform: scale(0);
				background: rgba($blue,0);
				transition: transform 0.3s $easeCubic, background 0.3s;
			}
			&:hover {
				color: $blue_darker;
				
				&:before {
					border-color: mix(#000,#fff,50%);
				}
			}
			+ label, + * + label {
				margin-right: 30px;
			}
		}
		input[type=checkbox], input[type=radio] {
			display: none;
			
			&:checked + label {
				color: $blue_darker;
				
				&:before {
					border-color: mix(#000,#fff,30%);
				}
				&:after {
					transform: scale(1);
					background: $blue;
				}
				&:hover:before {
					border-color: mix(#000,#fff,50%);
				}
			}
		}
		.error_message {
			padding-top: 0;
			padding-bottom: 10px;
		}
		+ .checkbox_outer {
			margin-top: 0;
		}
		&.hug_top {
			margin-top: 18px;
		}
		&.hidden {
			display: none;
		}
		&.error label:before {
			border-color: $warning_color;
		}
	}
	
	// all buttons
	button, input[type=submit], input[type=button] {
		// @include button($blue, #fff);
	}
	.button_outer {
		@include phone(false) {
			text-align: right;
		}
	}
	
	> * {
		transition: opacity 1s;
	}
	&.sending {
		> * {
			opacity: 0;
			pointer-events: none;
		}
	}
	.ajax_response {
/*
		@include spacing('margin-top', 0.5);
		@include spacing('margin-bottom', 0.5);
		display: none;
*/
	}
	&.complete {
		> * {
			display: none;
		}
		> fieldset {
			display: none !important;
		}
		.ajax_response {
			display: block;
		}
	}
	> * {
		transition: opacity 0.3s;
	}
	&.processing {
/*
		> * {
			opacity: 0;
		}
		&:after {
			content: '';
			position: fixed;
			z-index: 10;
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			border: solid 10px $blue;
			border-radius: 50px;
			border-top-color: transparent;
			border-bottom-color: transparent;
			margin: -25px 0 0 -25px;
			animation: spin 0.33s linear infinite;
			transition: opacity 0.3s;
		}
*/
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}