@mixin funnel() {
	position: relative;
	z-index: 0;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 200px;
	overflow: hidden;
	white-space: nowrap;
	color: #fff;
	padding: 0 40px;
	box-sizing: border-box;
	transition: background 0.3s;
	cursor: pointer;

	@include mobile() {
		height: 160px;
		padding: 0 15px;
	}
	@include phone() {
		height: 120px;
		padding: 0 20px;
	}
	.image {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		opacity: 0.5;
		transition: opacity 0.3s;
	}
	.text {
		position: relative;
		z-index: 1;
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
		@include h_c(#fff);
		// font-size: 24px;
		@include adjust_size('font-size', 24px);
	}
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
	&:hover {
		background: $blue_darker;
		
		.image {
			opacity: 0.1;
		}
	}
}

.funnels {
	position: relative;
	z-index: 1;
	text-align: center;
	background: #000;

	a {
		@include funnel();
		width: 50%;
		height: 300px;
		
		@include mobile() {
			height: 240px;
		}
		@include phone() {
			width: 100%;
			height: 200px;
		}
	}
}

