// space behind header on mobile
body {
	padding-top: 150px;

	@include mobile_menu() {
		padding-top: 60px;
	}
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 150px;
		
		@include mobile_menu() {
			content: none;
		}
	}
}

header {
	display: block;
	position: fixed;
	z-index: 102;
	top: 0;
	left: 0;
	right: 0;
	height: 84px;
	background: $white;
	transition: height 0.3s $easeCubic;
	text-shadow: 3px 3px 4px $black;
	
	@include mobile_menu() {
		height: 60px;
	}
	.logo {
		position: absolute;
		top: 50%;
		@include spacing('left');
		max-width: 200px;
		transform-origin: 0 0;
		transform: scale(0.6) translateY(-50%);
		transition: transform 0.3s $easeCubic;

		svg path.cls-2, svg rect.cls-2, svg polygon.cls-2 {
			fill: transparent;
			transition: 0.3s ease-out;
		}
		@include mobile_menu() {
			max-width: 160px;
			transform: scale(0.5) translateY(-50%);
		}
	}
}
.is_top_toggle {
	display: none;

	@include mobile_menu(false) {
		&:checked + header {
			height: 150px;

			.logo {
				transform: scale(1) translateY(-50%);

				svg path.cls-2, svg rect.cls-2, svg polygon.cls-2 {
					fill: $white;
					transition: 0.3s ease-out;
				}
				
				&:before {
					opacity: 1;
				}
			}
			+ nav {
				@include mobile_menu(false) {
					top: 66px;
				}
				.sign_in_links {
					opacity: 1;
				}
			}
		}
	}
}
header + nav {
	position: fixed;
	z-index: 103;
	box-sizing: border-box;

	@include mobile_menu(false) {
		top: 0;
		right: 0;
		width: auto;
		@include spacing('padding-right');
		transition: top 0.3s $easeCubic;
	}

	@include mobile_menu() {
		z-index: 102;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 50%;
		box-sizing: border-box;
		background: $blue;
		padding: 120px 0;
		transform: translateX(100%);
		transition: transform 0.5s $easeCubic;
		overflow-y: auto;
	}
	@include phone() {
		left: 0;
		width: 100%;
	}
	.nav_inner { // ul
		display: block;
		white-space: nowrap;

		@include mobile_menu(false) {
			margin: 0 -20px 0 -20px;
		}
		@include mobile_menu() {
			width: 100%;
		}
		> li { // .item
			@include mobile_menu(false) {
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}
			> a, > span {
				cursor: pointer;

				@include mobile_menu(false) {
					position: relative;
					display: inline-block;
					height: 84px;
					overflow: hidden;
					color: $blue;
					font-family: $label_font;
					// font-size: 15px;
					@include adjust_size('font-size', 15px);
					line-height: 1.2;
					font-weight: bold;
					letter-spacing: 0.1em;
					line-height: 84px;
					text-transform: uppercase;
					text-align: right;
					padding: 0 20px;

					@include laptop() {
						padding: 0 20px;
					}
					@media ( max-width: 1050px ) {
						padding: 0 15px;
					}
					&:after {
						content: '';
						position: absolute;
						bottom: 0; // 23px;
						left: 20px;
						right: 20px;
						height: 0;
						// border-top: solid 4px #fff;
						border-bottom: solid 4px $gold;
						transform-origin: 0 100%;
						transform: scaleY(0);
						transition: transform 0.15s $easeCubic;

						@include laptop() {
							left: 20px;
							right: 20px;
						}
						@media ( max-width: 1050px ) {
							left: 15px;
							right: 15px;
						}
					}
					&:hover:after {
						transform: scaleY(1);
					}
				}
				@include mobile_menu() {
					display: block;
					color: #fff;
					font-family: $heading_font;
					font-weight: 700;
					font-size: 20px;
					letter-spacing: 0.035em;
					line-height: 1.2;
					padding: 20px 0;
					// @include spacing('padding-left', 2);
					// @include spacing('padding-right', 2);
					padding-left: 12%;
					padding-right: 12%;
					transition: background 0.3s;

					@include phone(false) {
						&:hover {
							background: rgba(#fff,0.2);
						}
					}
					@include phone() {
						&:active {
							background: rgba(#fff,0.2);
						}
					}
				}
				&[data-active] {
					@include mobile_menu(false) {

						&:after {
							transform: none;
						}
					}
					@include mobile_menu() {
						box-shadow: inset 4px 0 0 $black;
					}
					@include phone() {
						box-shadow: inset 4px 0 0 #fff;
					}
				}
			}
			> .menu_outer {
				display: block;
				overflow: hidden;
				position: absolute;
				top: 84px;
				left: 0;
				width: auto;
				height: 0px;
				transition: height 0.3s $easeOutCubic;
				margin-left: -10px;

				@include mobile_menu(false) {
					box-shadow: 0 0 3px rgba(#000,0.05), 0 0 30px rgba(#000,0.05);

					@include laptop() {
						margin-left: -10px;
					}
					@media ( max-width: 1050px ) {
						margin-left: -15px;
					}
				}
				@include mobile_menu() {
					position: relative;
					top: 0;
					margin-left: 0;
				}
				> ul { // menu
					vertical-align: bottom;
					white-space: nowrap;
					text-align: left;
					padding: 25px 0;

					@include mobile_menu(false) {
						display: inline-block;
						background: $blue;
					}
					.subitem { // menu item
						display: block;
						width: auto;
						opacity: 0;
						transform: translateY(-20px);
						transition: transform 0.3s $easeOutCubic, color 0.3s, background 0.3s, opacity 0.3s;
						cursor: pointer;

						@include mobile_menu() {
							padding: 0;
						}
						a {
							position: relative;
							display: block;
							@include p(#fff);
							line-height: 40px;
							@include adjust_size('line-height', 40px);
							padding: 0 30px;
							transition: color 0.3s, background 0.3s;
							
							&[data-active] {
								@include mobile_menu(false) {
									background: $blue_darker;
								}
								@include mobile_menu() {
									box-shadow: inset 4px 0 0 $black;
									font-weight: bold;
								}
								@include phone() {
									box-shadow: inset 4px 0 0 #fff;
								}
							}
							@include mobile_menu() {
								display: block;
								padding: 5px 0;
								padding-left: 12%;
								padding-right: 12%;

								&[href] {
									@include phone(false) {
										&:hover {
											background: rgba(#fff,0.2);
										}
									}
									@include phone() {
										&:active {
											background: rgba(#fff,0.2);
										}
									}
								}
							}
						}
						@include mobile_menu(false) {
							&:hover {
								a {
									background-color: $blue_darker; // $gold;

									&:before {
										opacity: 1;
										transform: scaleY(1);
									}
								}
							}
						}
					}
				}
			}
			&.open {
				@include mobile_menu() {
					> .menu_outer > ul .subitem {
						opacity: 1;
						transform: translateY(0);
					}
					@for $i from 0 through 15 {
						> .menu_outer.items-#{$i} {
							height: ($i * 52px) + 50px;
							
							@include desktop() {
								height: ($i * 46px) + 50px;
							}
							@include laptop() {
								height: ($i * 40px) + 50px;
							}
							@include mobile_menu() {
								height: ($i * 50px) + 50px;
							}
						}
					}
				}
			}
			&:hover {
				@include mobile_menu(false) {
					> .menu_outer > ul .subitem {
						opacity: 1;
						transform: translateY(0);
					}
					@for $i from 0 through 15 {
						> .menu_outer.items-#{$i} {
							height: ($i * 52px) + 50px;
	
							@include desktop() {
								height: ($i * 46px) + 50px;
							}
							@include laptop() {
								height: ($i * 40px) + 50px;
							}
							@include mobile_menu() {
								height: ($i * 50px) + 50px;
							}
						}
					}
				}
			}
			@include mobile_menu() {
				&.has_menu {
					position: relative;

					&:after {
						content: '';
						position: absolute;
						top: 30px;
						// @include spacing('right', 2);
						right: 12%;
						width: 16px;
						height: 12px;
						margin: -6px 0 0 -8px;
						background: image-url('has_menu_arrow.png') no-repeat 0 0/100% auto;
						transition: transform 0.3s;
						pointer-events: none;
					}
					&.open:after {
						transform: rotate(-180deg);
					}
				}
			}
		}
	}
	.sign_in_links {
		position: absolute;
		top: -33px;
		@include spacing('right');
		@include p();
		// font-size: 13px;
		font-size: 15px !important;
		opacity: 0;
		transition: opacity 0.3s $easeCubic;
		
		@include mobile_menu() {
			position: relative;
			top: 0;
			right: auto;
			padding: 0 12%;
			margin-top: 25px;
			opacity: 1;
			text-align: right;
		}
		.sign_in_button {
			display: inline-block;
			font-weight: bold;
			color: $white;
			background: $gold;
			margin-right: 10px;
			padding: 3px 12px 3px 12px;
			transition: background 0.3s;
			
			&:hover {
				background: $blue;
			}
		}
		.join_button {
			display: inline-block;
			color: $white;
			font-weight: bold;
			background: $gold;
			padding: 3px 12px 3px 12px;
			transition: color 0.3s, background 0.3s;
			
			&:hover {
				color: #fff;
				background: $blue;
			}
		}
	}
	&.open {
		transform: translateX(0);
		
		+ .nav_hamburger {
			.a {
				transform: rotate(-45deg) translate(-3px, 3px);
	
				&:before {
					transform: rotate(45deg) scaleX(0);
				}
				&:after {
					transform: rotate(90deg) translateX(-6px);
				}
			}
		}
	}
}

.nav_hamburger {
	position: fixed;
	z-index: 203;
	top: 0; // 20px
	right: 0; // 8%
	width: 60px;
	height: 60px;
	border-radius: 100%;
	overflow: hidden;
	transition: background 0.3s, margin 0.3s $easeCubic, top 0.3s $easeCubic, right 0.3s $easeCubic;

	@include mobile_menu(false) {
		display: none;
	}
	.a {
		position: absolute;
		top: 50%;
		right: 50%;
		width: 60px - 36px;
		height: 2px;
		margin-right: -(60px - 36px) / 2;
		margin-top: -2px;
		background: #fff;
		transition: background 0.3s, transform 0.3s $easeCubic;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			margin-top: -6px;
			transform-origin: 50% 50%;
			transition: background 0.3s, transform 0.3s $easeCubic;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			margin-top: 6px;
			transition: background 0.3s, transform 0.3s $easeCubic;
		}
	}
	&:active {
		background-color: rgba(#fff,0.2);
	}
}

// External links indication
header+nav .nav_inner>li>.menu_outer>ul .subitem a[href] {
	position: relative;
	padding-right: 60px;
	
	&:before {
		content: '';
		position: absolute;
		top: 18px;
		right: 30px;
		width: 7px;
		height: 7px;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		
		@include mobile() {
			right: 12%;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 19px;
		right: 30px;
		width: 2px;
		height: 12px;
		background: #fff;
		transform-origin: top center;
		transform: rotate(45deg);
		
		@include mobile() {
			right: 12%;
		}
	}
	&[href^="http://192.168.2.70"],
	&[href^="http://192.168.2.85"],
	&[href^="http://a8a.f0b.mwp.accessdomain.com"],
	&[href^="http://22v.668.mwp.accessdomain.com"], // NASP staging
	&[href^="https://naspnet.org"],
	&[href^="mailto:"],
	&[href^="tel:"] {
		&:before, &:after {
			content: none;
		}
	}
}