body.home main { // #content
	@include spacing('padding-left');
	@include spacing('padding-right');
	
	h1 {
		@include h_a();
		margin-bottom: 40px;
	}
	h2 {
		@include h_c($black);
		font-size: 20px;
		margin-bottom: 15px;
	}
	h3 {
		@include h_b();
		font-family: $heading_font;
		margin-bottom: 16px;
	}
	p, ul, li, dl {
		@include p();
	
		em {
			font-weight: bold;
		}
		a[href] {
			@include a($gold_darker);
			margin-top: 10px;
		}
		+ p, + ul, + li, + dl {
			margin-top: 10px;
		}
	}
	ul li {
		list-style: disc;
	}
	ol li {
		list-style: decimal;
	}
	ul, ol {
		li {
			margin-left: 40px;
			padding-left: 10px;
		}
	}
	blockquote {
		border-left: solid 4px $gold;
		padding-left: 30px;
		margin-top: 60px;
		margin-bottom: 60px;
		
		p {
			font-size: 20px;
		}
		cite {
			display: block;
			@include p(mix($black,#fff,50%));
			text-align: right;
		}
		@media ( max-width: 400px ) {
			padding-left: 20px;
		}
	}
	.image {
		width: 50%;
		height: 100%;
		background-size: cover;
		background-position: 50% 50%;
		transition: opacity 1s;
		
		&.preload {
			opacity: 0;
		}
	}
	.event_description {
		// white-space: nowrap;
		
		p {
			display: inline-block;
			vertical-align: middle;
			width: 80%;
			white-space: normal;
			box-sizing: border-box;
			
			@include phone() {
				display: block;
				width: auto;
			}
			&:first-child {
				padding-right: 30px;
				border-right: solid 2px $gold_darker;
				
				@include phone() {
					padding-right: 0;
					margin-bottom: 20px;
					border-right: none;
				}
			}
			&.date_outer {
				width: 20%;
				padding-left: 30px;
				text-align: center;
				
				@include phone() {
					display: inline-block;
					vertical-align: middle;
					width: auto;
					padding-left: 0;
					text-align: left;
					padding-right: 30px;
					margin-right: 30px;
					border-right: solid 2px $gold;
				}
				.month {
					@include h_c($black);
					font-size: 20px;
				}
				.dates {
					@include h_c($black);
					font-size: 22px !important;
					white-space: nowrap;
				}
			}
		}
		.link_outer {
			width: 40%;
			margin: 0 0 0 60%;
			text-align: center;
			
			@include phone() {
				display: inline-block;
				vertical-align: middle;
				width: auto;
				text-align: left;
				margin-left: 0;
			}
		}
	}
	
	.block {
		position: relative;
	}
	.block_a {
		margin-right: 50%;
		@include spacing('padding-top');
		@include spacing('padding-bottom');
		
		@include phone() {
			margin-right: 0;
			padding-top: 0 !important;
		}

		@media screen and (min-width: 601px) {
			margin-bottom: 5rem;
		}

		.image {
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			overflow: hidden;
			border-bottom-left-radius: 15rem;
			margin-bottom: 3rem;
			@include spacing('margin-left', 1);
			// @include spacing('padding-left');
			
			@include mobile() {
				@include spacing('padding-left');
				
				@include phone(false) {
					margin-left: 0;
				}
			}
			@include phone() {
				position: relative;
				top: auto;
				left: 0;
				padding-top: 80%;
				@include spacing('padding-left', 2);
				@include spacing('margin-left', -1);
			}
			.image_inner {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
		h1 {
			position: relative;
			
			@include phone() {
				padding-right: 0;
			}
			@media ( max-width: 460px ) {
				white-space: normal;
				max-width: 250px;
				margin-left: 0;
			}
		}
		.paragraphs {
			@include adjust_size('max-width', 450px);
			margin-right: auto;
			
			@include mobile() {
				@include spacing('padding-right');
			}
			@include phone() {
				margin-right: auto;
				padding-right: 0;
			}
		}
	}
	.block_b {
		margin-left: 50%;
		
		@include mobile() {
			margin-left: 40%;
		}
		@include phone() {
			margin-left: 0;
		}
		.image {
			position: absolute;
			top: 0;
			right: 100%;
			width: 100%;
			overflow: hidden;
			border-bottom-right-radius: 15rem;
			@include spacing('margin-right');
			
			@include mobile() {
				width: 66.667%;
			}
			@include phone() {
				position: relative;
				right: auto;
				width: 100%;
				padding-top: 70%;
				@include spacing('margin-bottom');
			}
		}
		.text {
			// max-width: 450px;
			@include adjust_size('max-width', 450px);
			margin-right: auto;
			
			@include phone() {
				margin-left: auto;
			}
		}
	}
	.block_c {
		margin-right: 50%;
		@include spacing('margin-top');
		
		@include phone() {
			margin-right: 0;
		}
		.image {
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			@include spacing('margin-left');
			
			@include phone() {
				position: relative;
				left: auto;
				padding-top: 70%;
				margin-left: 0;
				border-bottom-left-radius: 15rem;
				@include spacing('margin-bottom');
			}
			&:before {
				content: '';
				position: absolute;
				@include spacing('top', -1);
				left: 0;
				@include spacing('height');
				width: 100%;
				background: image-url('pattern.png') 0 0/55px 55px;
			}
		}
		.text {
			@include spacing('padding-bottom');
			// max-width: 450px;
			@include adjust_size('max-width', 450px);
			margin-left: auto;
			
			@include phone() {
				margin-right: auto;
			}
		}
	}
}
body.home main .join_block {
	position: relative;
	z-index: 1;
	@include spacing('padding-top');
	@include spacing('padding-bottom');
	@include spacing('padding-left');
	@include spacing('padding-right');
	@include spacing('margin-left', -1);
	@include spacing('margin-right', -1);
	background: $blue_darker;
	text-align: center;
	border-radius: 6px !important;
	@include pattern();
	
	p {
		position: relative;
		z-index: 1;
		color: #fff;
		font-size: 24px;
		@include spacing('margin-bottom', 0.25);
	}
	a {
		position: relative;
		z-index: 1;
		@include button($gold);
		border-radius: 6px !important;
		color: $blue_darker;
		transition: background 0.3s, color 0.3s;
		
		&:hover {
			color: #fff;
		}
	}
	&:before, &:after {
		left: auto;
		right: 0;
	}
	&:before {
		@include phone() {
			content: none;
		}
	}
	&:after {
		background-image: image-url('pattern_blue.png');
	}
}