body.page-id-3182 main .content_inner {
	position: relative;
	
}
.jobs {
	@include spacing('margin-bottom', 0.5);
	
	.no_jobs_message {
		font-style: italic;
		
/*
		&.inactive {
			display: none;
		}
*/
	}
}
.job {
	display: block;
	@include article();
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: solid 1px #e5e5e5;
	
	.title {
		// @include h_b($blue);
	}
	.company {
		// font-weight: bold;
		display: block;
		// margin-top: 10px;
	}
	.location {
		float: right;
	    line-height: 25px;
	    margin-top: -50px;
		
		@media ( max-width: 500px ) {
			display: block;
			float: none;
			margin-top: 0;
			line-height: inherit;
			// margin-top: 10px;
		}
	}
	.fake_link {
		float: right;
		display: block; // !important;
		color: rgba($gold_darker,0);
		font-weight: bold;
	    line-height: 25px;
	    margin-top: -25px;
		transition: color 0.3s;
		
		@include mobile() {
			display: none;
		}
	}
	&.inactive {
		display: none;
	}
	&:hover {
		.fake_link {
			color: $gold_darker;
		}
	}
}
form.search_form {
	position: absolute;
	top: 0;
	right: 0;
	
	@include mobile() {
		top: -5px;
	}
	@include phone() {
		top: -8px;
	}
	@media ( max-width: 500px ) {
		position: relative;
		top: auto;
		right: auto;
		@include spacing('margin-top', -0.5);
		@include spacing('margin-bottom', 0.5);
	}
	fieldset {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 200px;
		background: $blue;
		transition: background 0.3s;
		
		@media ( max-width: 500px ) {
			width: 100%;
		}
		label, select {
			display: block;
			width: 100%;
			box-sizing: border-box;
			color: #fff;
			@include adjust_size('font-size', 15px);
			line-height: 1.4;
			padding: 12px 25px;
			background: transparent;
			transition: background 0.1s;
			cursor: pointer;
			
		    border: 0;
			border-radius: 0 !important;
			text-shadow: none;
			box-shadow: none;
			-webkit-appearance: none;
		    -moz-appearance: none;
		    -o-appearance:none;
		    appearance: none;
		    
			@include phone() {
				font-size: 16px;
			}
		}
		label {
			position: absolute;
			top: 0;
			left: 0;
			font-family: $label_font;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			font-weight: bold;
			transition: opacity 0.3s;
		}
		select {
			position: relative;
			padding-right: 42px;
			background: image-url('select_bg_white.png') no-repeat 100% 50%/28px 8px;
			transition: background 0.3s;
			
			&:focus {
				background-color: $blue_darker;
			}
		}
		+ fieldset {
			margin-left: 2%;
		}
		&.notempty {
			label {
				opacity: 0;
			}
		}
		&:hover {
			background-color: $blue_darker;
		}
	}
/*
	@include form();
	
	.search_outer {
		input[type=search] {
			// @extend %field;
		}
	}
*/
}

// single-job

body.single-job main .content_inner {
	h1 {
		margin-bottom: 10px !important;
	}
	p.details {
		font-weight: bold;
		@include spacing('margin-bottom');
	}
}