body {
	&.single-member {
		.member_image_outer {
			position: relative;
			width: 70%;
			@include spacing('margin-bottom');
			overflow: hidden;
			border-bottom-right-radius: 15rem;

			@media screen and (min-width: 780px) {
				width: 50%;
			}
			
			img {
				width: 100%;
				height: auto;
			}

			&.consultant-partners {
				&:after {
					content: none;
				}
			}
		}
		h1 + .nasp_title {
			@include p();
			font-style: italic;
			@include spacing('margin-top', -1);
			padding-top: 10px;
			@include spacing('margin-bottom');
		}
		main .contact_info {
			margin-top: 40px;
		}
	}
}
.board_members {
	@include spacing('margin-top');
	// @include spacing('margin-bottom');
	// max-width: 1400px;
	margin-left: auto;
	margin-right: auto;

	ul {
		margin: -30px;

		@include mobile() {
			margin: -20px;
		}
		@include phone() {
			margin: -10px;
		}
	}
	li {
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		width: percentage(1/2);
		padding: 30px !important;
		margin: 0 !important;
		box-sizing: border-box;

		@include mobile() {
			// width: percentage(1/2);
			padding: 20px !important;
		}
		@include phone() {
			width: 100%;
			padding: 10px 10px 20px 10px !important;
		}
		a {
			box-shadow: none;

			.image {
				display: block;
				// display: none !important; // :)
				width: 150px;
				padding-top: 150px;
				@include cover('');
				background-color: #ccc;
				// background-position: 0 0;
				margin-bottom: 20px;
				@include preload();
				
				@include phone() {
					// width: 100%;
					// padding-top: 100%;
				}
			}
			.name {
				color: $black;
				// @include h_d();
				transition: color 0.3s;
				
				span {
					display: inline-block;
				}
			}
			.nasp_title {
				display: block !important;
				@include p();
				font-size: 14px !important;
				margin-top: 5px;
				line-height: 1.4;
				@include save_orphans();
				
			}
			.fake_link {
				display: block !important;
				color: $gold_darker;
				font-weight: bold;
				margin-top: 10px;
				transition: color 0.3s;
			}
			&:hover {
				
				.name, .fake_link {
					color: $blue;
				}
			}
		}
	}
	&.consultant_partners {
		li a .image {
			background-color: transparent;
			background-size: contain;
		}
	}
}
