body.freeze {
	overflow: hidden; // remove scrollability
}
.bottom_action { // section
	// @include spacing('margin-top');	
	background: #f2f2f2;
	@include spacing('margin-top', 1);
	@include spacing('margin-bottom', -1.5);
	@include spacing('margin-left', -1);
	@include spacing('margin-right', -1);
	@include spacing('padding-top');
	@include spacing('padding-bottom');
	@include spacing('padding-left');
	@include spacing('padding-right');
	@include pattern();
	
	* {
		position: relative;
		z-index: 1;
	}
	p {
		@include save_orphans();
	}
	.bottom_action_inner {
		position: relative;
		z-index: 1;
		@include adjust_size('max-width', 600px);
		margin: auto;
	}
	.back_to_profession {
		color: $gold_darker;
		font-weight: bold;
		transition: color 0.3s;
		cursor: pointer;
		
		+ h2 {
			padding-top: 20px !important;
		}
		&:hover {
			color: $blue;
		}
	}
	.wp-block-button {
		margin-top: 30px !important;
	}
}
.select_plan_buttons {
	@include spacing('margin-top', 0.5);
	
	.select_plan_button {
		display: inline-block;
		vertical-align: middle;
		width: 49%;
		@include button();
		box-sizing: border-box;
		text-align: center;
		
		+ .select_plan_button {
			margin-left: 2%;
		}
	}
}
#profession_form {
	// @include form();
}
body.single-plan main h3 {
	@include spacing('margin-top');
	font-family: $heading_font;
}

/*
@mixin option() {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #ccc;
	padding: 30px;
	padding-left: 30px + 24px + 30px;
	box-sizing: border-box;
	@include h_c();
	transition: border 0.3s, background 0.3s;
	
	span {
		display: block;
		@include p();
		line-height: 1.4;
		text-transform: none;
		padding-top: 5px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 27px;
		left: 30px;
		width: 24px;
		height: 24px;
		// margin-top: -12px;
		border: solid 2px #ccc;
		border-radius: 100%;
		box-sizing: border-box;
		transition: border 0.3s;
	}
	&:after {
		content: '';
		position: absolute;
		top: 27px + 5px;
		left: 30px + 5px;
		width: 14px;
		height: 14px;
		// margin-top: -7px;
		background: $blue;
		border-radius: 100%;
		opacity: 0;
		transform: scale(0);
		transition: opacity 0.3s, transform 0.3s;
	}
	&:active {
		background: #f2f2f2;
	}
	&:hover {
		border-color: $blue;
		
		&:before {
			border-color: $blue;
		}
	}
}
@mixin option_selected() {
	&:after {
		opacity: 1;
		transform: scale(1);
	}
}
@mixin page_nav_button_disabled() {
	color: #999;
	font-weight: bold;
	background: #ccc; // mix($blue,$blue_darker,50%);
	cursor: default;
	pointer-events: none;
}
@mixin page_nav_button_enabled() {
	color: #fff; // $blue_darker;
	font-weight: bold;
	background: $red; // $gold;
	cursor: pointer;
	pointer-events: auto;
	transition: background 0.3s;
	
	&:hover {
		background: $blue;
	}
}
.popup {
	display: none;
	position: fixed;
	z-index: 200;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($blue_darker,0.9);
	@include spacing('padding-left', 0.5);
	@include spacing('padding-right', 0.5);
	box-sizing: border-box;
	// overflow-y: auto;
	
	@include mobile_menu() {
		z-index: 100;
	}
	@media ( max-width: 750px ) {
		padding: 0;
	}
	.popup_inner {
		position: relative;
		height: 100%;
		margin: 0 auto;
		// background: #fff;
		
		form {
		}
	}
	&.visible {
		display: block;
	}
}
body.page-id-15 { // Memberhsip page ID
	form {
		@include form();
		
		> input[type="radio"] {
			display: none; // :)
		}
	}
	h2 {
		margin-top: 0 !important;
		
		span {
			display: block;
			font-size: 0.5em;
		}
	}
	.pages_background {
		// clickable target to hide popup
		position: absolute;
		top: 0;
		bottom: 0;
		@include spacing('left', -1);
		@include spacing('right', -1);
	}
	.pages {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		max-width: 600px + 300px;
		box-sizing: border-box;
		background: #fff;
		margin: 0 auto;
		
		@include desktop() {
			max-width: 600px + 240px;
		}
		@include laptop() {
			max-width: 600px + 160px;
		}
		@include mobile() {
			max-width: 600px + 100px;
		}
		@media ( max-width: 750px ) {
			max-width: none;
		}
		.page {
			display: inline-block;
			vertical-align: top;
		    height: 100vh;
			width: 100%;
			@include spacing('padding-top');
			@include spacing('padding-bottom');
			@include spacing('padding-left');
			@include spacing('padding-right');
		    overflow-y: auto;
			white-space: normal;
			transition: transform 0.5s $easeCubic;
			box-sizing: border-box;
			
			.page_inner {
				padding-bottom: 120px;
				
				@include mobile_menu() {
					padding-top: 60px;
				}
				@include phone() {
					padding-bottom: 100px;
				}
			}
			&.page_1, &.page_4 {
				
				label {
					@include option();
					width: 48%;
									
					@include phone() {
						width: 100%;
					}			
					+ label {
						margin-left: 4%;
						
						@include phone() {
							margin-left: 0;
							margin-top: 20px;
						}
					}
				}
			}
			&.page_4 {
				display: none;
			}
			&.page_5 {
				display: none;
				
				.option {
					display: inline-block;
					vertical-align: top;
					width: 48%;
					
					@include phone() {
						width: 100%;
					}
					+ .option {
						margin-left: 4%;
						
						@include phone() {
							margin-left: 0;
							margin-top: 40px;
						}
					}
				}
				label {
					@include option();
					width: 100%;
				}
			}
			ul {
				margin-top: 30px;
				
				li {
				}
			}
		}
		.page_nav {
		    position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			
			.page_nav_inner {
				height: 120px;
				max-width: 600px;
				text-align: right;
				background: #f2f2f2;
				margin: auto;
				@include spacing('padding-left');
				@include spacing('padding-right');
				
				@media ( max-width: 750px ) {
					max-width: none;
				}
				@include phone() {
					height: 100px;
				}
			}
			.page_prev_button, .cancel_button {
				float: left;
				display: inline-block;
				@include p($black);
				padding: 0 20px;
				margin-top: 40px;
				background: #f2f2f2; // mix($blue,$blue_darker,50%);
				line-height: 40px;
				transition: background 0.3s, color 0.3s;
				cursor: pointer;
				
				@include phone() {
					margin-top: 30px;
				}
				&:hover {
					color: #fff;
					background: $blue;
				}
			}
			.cancel_button {
				display: none;
			}
			.page_next_button {
				display: inline-block;
				@include p(#fff);
				margin-top: 40px;
				padding: 0 20px;
				line-height: 40px;
				transition: background 0.3s;
				@include page_nav_button_disabled();
				
				@include phone() {
					margin-top: 30px;
				}
				&:hover {
					background: $blue_darker;
				}
			}
			.dots {
				position: absolute;
				left: 25%;
				right: 25%;
				top: 50px;
				white-space: nowrap;
				text-align: center;
				pointer-events: none;
				
				@include phone() {
					top: 40px;
				}
				.dot {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					
					&:before {
						content: '';
						position: absolute;
						top: 5px;
						left: 5px;
						width: 10px;
						height: 10px;
						background: #ccc;
						border-radius: 100%;
						
						@include phone() {
							transform: scale(0.8);
						}
					}
				}
				&[data-count="2"] {
					.dot:nth-child(3),
					.dot:nth-child(4) {
						display: none;
					}
				}
				&[data-count="3"] {
					.dot:nth-child(4) {
						display: none;
					}
				}
			}
		}
		@for $i from 0 to 10 {
			&.paged_#{$i} {
				.page {
					transform: translate(percentage($i * -1));
				}
				.dots .dot:nth-child(#{$i + 1}):before { // active dot style
					background: $blue;
				}
			}
		}
		&.paged_0 {
			.cancel_button {
				display: block;
			}
			.page_prev_button {
				display: none;
			}
		}
		&.paged_1 .page_nav .page_next_button.enabled {
			@include page_nav_button_enabled();
		}
	}
	#membership_type_indiv:checked {
		+ * + * + * + * + * + .pages {
			.page_1 label[for="membership_type_indiv"] {
				@include option_selected();
			}
			.page_3 {
				display: none;
			}
			.page_4 {
				display: inline-block;
			}
			&.paged_0 .page_next_button {
				@include page_nav_button_enabled();
			}
		}
	}
	#membership_type_corp:checked {
		+ * + * + * + * + .pages {
			.page_1 label[for="membership_type_corp"] {
				@include option_selected();
			}
			.page_2 {
				display: none;
			}
			.page_5 {
				display: inline-block;
			}
			&.paged_0 .page_next_button {
				@include page_nav_button_enabled();
			}
		}
	}
	#is-certified-pharm-yes:checked {
		+ * + * + * + .pages {
			.page_4 label[for="is-certified-pharm-yes"] {
				@include option_selected();
			}
			&.paged_2 .page_next_button {
				@include page_nav_button_enabled();
			}
		}
	}
	#is-certified-pharm-no:checked {
		+ * + * + .pages {
			.page_4 label[for="is-certified-pharm-no"] {
				@include option_selected();
			}
			&.paged_2 .page_next_button {
				@include page_nav_button_enabled();
			}
		}
	}
	#benefits-package-a:checked {
		+ * + .pages {
			.page_5 label[for="benefits-package-a"] {
				@include option_selected();
			}
			&.paged_2, &.paged_3 {
				.page_next_button {
					@include page_nav_button_enabled();
				}
			}
		}
	}
	#benefits-package-b:checked {
		+ .pages {
			.page_5 label[for="benefits-package-b"] {
				@include option_selected();
			}
			&.paged_2, &.paged_3 {
				.page_next_button {
					@include page_nav_button_enabled();
				}
			}
		}
	}
}
.benefits {
	display: none;
}
*/