.membership_type_selector { // .pages
	position: relative;
	margin-top: 50px;
	
	fieldset {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 49%;
		background: $blue;
		transition: background 0.3s;
		
		label, select {
			display: block;
			width: 100%;
			box-sizing: border-box;
			color: #fff;
			@include adjust_size('font-size', 15px);
			line-height: 1.4;
			padding: 12px 25px;
			background: transparent;
			transition: background 0.1s;
			cursor: pointer;
			
		    border: 0;
			border-radius: 0 !important;
			text-shadow: none;
			box-shadow: none;
			-webkit-appearance: none;
		    -moz-appearance: none;
		    -o-appearance:none;
		    appearance: none;
		    
			@include phone() {
				font-size: 16px;
			}
		}
		label {
			position: absolute;
			top: 0;
			left: 0;
			font-family: $label_font;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			font-weight: bold;
			transition: opacity 0.3s;
		}
		select {
			position: relative;
			padding-right: 42px;
			background: image-url('select_bg_white.png') no-repeat 100% 50%/28px 8px;
			transition: background 0.3s;
			
			&:focus {
				background-color: $blue_darker;
			}
		}
		+ fieldset {
			margin-left: 2%;
		}
		&.notempty {
			label {
				opacity: 0;
			}
		}
		&:hover {
			background-color: $blue_darker;
		}
	}
}