@mixin article() {
	margin-left: 0;
	@include p();
	
	.title {
		font-weight: bold;
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 5px;
		margin-top: -3px;
		transition: color 0.3s;
	}
	.date {
		display: block;
		// @include h_c();
		color: #999;
		margin-bottom: 15px;
	}
	.excerpt {
		.fake_link {
			display: inline-block;
			color: $gold_darker;
			font-weight: bold;
			transition: color 0.3s;
		}
	}
	&.has_image {
		display: block;
		position: relative;
		padding-left: 160px;
		
		@include phone() {
			padding-left: 130px;
		}
		.image {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 120px;
			height: 120px;
			@include cover();
			
			@include phone() {
				width: 100px;
				height: 100px;
			}
		}
	}
	&:hover {
		.title {
			color: $blue;
		}
		.excerpt .fake_link {
			color: $blue;
		}
	}
}

body.blog,
body.archive,
body.page-id-3287,
body.page-id-4566 {
	main {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		
		.all_news { // a
			@include a();
			position: relative;
			display: block;
			margin-bottom: 20px;
/*
			padding-left: 25px;
			
			&:before {
				content: '';
				position: absolute;
			    top: 6px;
			    left: 3px;
			    width: 8px;
			    height: 8px;
				border-top: solid 2px $black;
				border-left: solid 2px $black;
				transform: rotate(-45deg);
			}
			&:after {
				content: '';
				position: absolute;
				top: 10px;
				left: 3px;
				width: 12px;
				height: 2px;
				background: $black;
			}
*/
		}
		
		.articles ul li {
			list-style: none;
			
			a {
				@include article();
			}
			+ li {
				margin-top: 60px;
				
				@include mobile() {
					margin-top: 50px;
				}
				@include phone() {
					margin-top: 40px;
				}
			}
		}
	}
}
body.no-featured-image main {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 50%;
		height: 185px;
		background: image-url('pattern.png') 0 100%/55px 55px;
	}
}
body.single-post {
	.image_outer {
		// position: relative;
		// width: 50%;
		@include spacing('margin-bottom', 0.5);
		// overflow: hidden;
		
		img {
			width: auto;
			max-width: 100%;
			height: auto;
		}
	}
	main .content_inner h1 {
		font-size: 32px;
		line-height: 1.3;
		
		@include mobile() {
			font-size: 26px;
			line-height: 1.4;
		}
		@include phone() {
			font-size: 20px;
			line-height: 1.5;
		}
		+ .info {
			@include p();
			@include spacing('margin-top', -1);
			padding-top: 10px;
			@include spacing('margin-bottom');
			
			a {
				font-weight: bold;
				color: $gold_darker;
				
				&:hover {
					color: $blue;
				}
			}
		}
	}
}
.next_article {
	background: #f2f2f2;
	@include spacing('margin-top');
	@include spacing('margin-bottom', -1.5);
	@include spacing('margin-left', -1);
	@include spacing('margin-right', -1);
	@include spacing('padding-top');
	@include spacing('padding-bottom');
	@include spacing('padding-left');
	@include spacing('padding-right');
	@include pattern();
	
	.next_article_inner {
		position: relative;
		z-index: 1;
		@include adjust_size('max-width', 600px);
		margin-left: auto;
		margin-right: auto;

	}
	.heading {
		@include h_c(rgba($black,0.5));
		@include spacing('margin-bottom', 0.5);
	}
	.article {
		@include article();
	}
}
.pagination {
	position: relative;
	z-index: 1;
	text-align: center;
	background: #f2f2f2;
	@include spacing('margin-top');
	margin-bottom: -15px;
	@include spacing('margin-left', -1);
	@include spacing('margin-right', -1);
	// @include spacing('padding-top', 0.5);
	@include spacing('padding-bottom');
	@include spacing('padding-left');
	@include spacing('padding-right');
	@include pattern();

	.page-numbers {
		position: relative;
		z-index: 1;
		padding: 15px;
		@include spacing('padding-top', 0.5);
		transition: color 0.3s;
		@include a(mix($black,#fff,50%));

		&:hover {
			color: $blue;
		}
		&.current {
			color: $blue;
			box-shadow: inset 0 4px 0 $blue;
		}
		&.prev, &.next {
			@include a($gold_darker);

		}
	}
}
.news_categories {
	position: relative;
	background: #f2f2f2;
	text-align: center;
	// @include spacing('margin-top');
	@include spacing('margin-bottom');
	@include spacing('margin-left', -1);
	@include spacing('margin-right', -1);
	@include spacing('padding-top');
	@include spacing('padding-left');
	@include spacing('padding-right');

	// @include mobile(false) {
	@media ( max-width: 700px ) {
		text-align: left;
		white-space: nowrap;
	}
	.categories_outer {
		
		@media ( max-width: 700px ) {
			overflow-x: auto;
			@include hide_scrollbars();
			@include spacing('margin-left', -1);
			@include spacing('margin-right', -1);
			@include spacing('padding-left');
			@include spacing('padding-right');
		}
	}
	h1 {
		@include h_a();
		@include adjust_size('max-width', 600px);
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}
	h2 {
		@include h_c(rgba($black,0.5));
		@include spacing('margin-bottom', 0.25);
	}
	a {
		display: inline-block;
		@include p();
		font-weight: bold;
		padding: 0 10px;
		@include spacing('padding-top', 0.5);
		@include spacing('padding-bottom', 0.5);
		box-shadow: inset 0 0 0 $gold;
		transition: box-shadow 0.15s;

		&[data-active] {
			box-shadow: inset 0 -4px 0 $gold;
		}
		&:hover {
			box-shadow: inset 0 -4px 0 $gold;
		}
	}
}