body {
	font-family: $paragraph_font;
	color: $black;
	
	.content_inner {
		position: relative;
		z-index: 2;
/*
		@include adjust_size('max-width', 600px);
		margin: auto;
*/
		
		> *:not(.alignfull):not(.alignwide) {
			@include adjust_size('max-width', 600px);
			margin-left: auto;
			margin-right: auto;
		}
	}
}
body.page:not(.home),
body.single,
body.blog,
body.archive {
	main { // #content
		position: relative;
		overflow: hidden;
		@include spacing('padding-left');
		@include spacing('padding-right');
		@include spacing('padding-top');
		@include spacing('padding-bottom', 1.5);

		.banner {
			position: relative;
			background-size: cover;
			background-position: 50% 50%;
			font-size: 0;
			@include spacing('margin-top', -1);
			@include spacing('margin-left', -1);
			@include spacing('margin-right', -1);
			@include spacing('margin-bottom');
			overflow: hidden;
			transition: opacity 0.5s;
			border-bottom-right-radius: 15rem; // 240px = #rem * 16;

			.text {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				z-index: 1;
				@include spacing('padding-top');
				@include spacing('padding-bottom');
				@include spacing('padding-left');
				@include spacing('padding-right');

				@include mobile() {
					padding-top: 10vh;
					padding-bottom: 10vh;
				}
				h1 {
					@include h_a(#fff);
				}
				.headline {
					@include h_d(#fff);
					@include save_orphans();
				}
				&.has_headline {
					h1 {
						@include h_c(#fff);
						padding-bottom: 10px;
					}
					.headline {
						@include h_a(#fff);
					}
				}
			}
			&.preload {
				// opacity: 0;
			}

			&:before { // centered
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				width: 0;
			}
			&:after { // shade
				content: '';
				position: absolute;
				z-index: 0;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(#000,0.5);
				
				@include mobile() {
					background: rgba(#000,0.3);
				}
			}
		}
		.content_inner {
			.breadcrumb {
				@include h_c($blue);
				padding-bottom: 10px;
				
				a {
					cursor: pointer;
					transition: color 0.3s;
					
					&:hover {
						color: $blue_darker;
					}
				}
			}
			h1 {
				@include h_a();
				@include spacing('margin-bottom');
			}
		}
	}
}
body.page:not(.home):not(.page-id-3287):not(.page-id-4566),
body.single {
	main { // #content
		h1 + h2 {
			padding-top: 0 !important;
		}
		h2 {
			position: relative;
			@include h_b();
			margin-bottom: 40px;
			@include spacing('padding-top');
			
			em {
				display: block;
				@include h_c();
				font-style: normal;
				margin-bottom: 20px;
			}
			&:first-child {
				padding-top: 0 !important;
			}
		}
		h3 {
			@include h_b($blue, true);
			font-weight: bold;
			font-family: $heading_font;
			@include spacing('margin-top', 0.5);
			@include spacing('margin-bottom', 0.25);
			
			&:first-child {
				margin-top: 0;
			}
		}
		h4 {
			@include h_c();
	/*
			@include h_d();
			font-size: 20px;
	*/
			margin-top: 40px;
			margin-bottom: 10px;
			line-height: 1.6;
			
			&:first-child {
				margin-top: 0;
			}
		}
		p, ul, li, dl {
			@include p();
		
			em {
				// font-weight: bold;
			}
			a[href] {
				color: $gold_darker;
				// @include a($gold_darker);
				font-weight: bold;
				margin-top: 10px;
				transition: color 0.3s;
				
				&:after {
					content: '';
					display: inline-block;
					position: relative;
					width: 12px;
					height: 12px;
					margin-left: 3px;
					margin-bottom: -1px;
					background: image-url('external_link_arrow_gold.png') no-repeat 0 0/12px 12px;
					transition: background 0.3s;
				}
				&[href^="http://192.168.2.70"],
				&[href^="http://192.168.2.85"],
				&[href^="http://a8a.f0b.mwp.accessdomain.com"],
				&[href^="https://naspnet.org"],
				&[href^="mailto:"],
				&[href^="tel:"] {
					&:after {
						content: none;
					}
				}
				&:hover, &:focus {
					color: $blue;
					
					&:after {
						background-image: image-url('external_link_arrow_blue.png');
					}
				}
			}
			+ p, + ul, + li, + dl {
				margin-top: 10px;
			}
		}
		ul li {
			list-style: disc;
		}
		ol li {
			list-style: decimal;
		}
		ul, ol {
			li {
				margin-left: 40px;
				padding-left: 10px;
				
				@include phone() {
					margin-left: 17px;
				}
				ul, ol {
					margin-top: 10px;
				}
			}
		}
		blockquote {
			border-left: solid 4px $gold;
			padding-left: 30px;
			margin-top: 60px;
			margin-bottom: 60px;
			
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
			p {
				// font-size: 20px;
			}
			cite {
				display: block;
				@include p(mix($black,#fff,50%));
				text-align: right;
				// color: mix($black,#fff,50%);
			}
			@media ( max-width: 400px ) {
				padding-left: 20px;
			}
		}
		.wp-block-button {
			@include spacing('margin-top', 0.5);
			margin-bottom: 0;
			
			&:first-child {
				margin-top: 0 !important;
			}
			a {
				position: relative;
				@include button($gold_darker);
				font-weight: bold;
				// border-radius: 0 !important;
				// background: $blue;
			}
		}
		.wp-block-image {
			@include spacing('margin-top', 0.5);
			@include spacing('margin-bottom', 0.5);
			
			&:first-child {
				margin-top: 0 !important;
			}
			&:last-child {
				margin-bottom: 0 !important;
			}
			img {
				height: auto !important;
			}
			figcaption {
			    position: relative;
			    z-index: 1;
				@include p(mix($black,#fff,70%));
				font-size: 14px;
				line-height: 1.4;
				text-align: left;
				margin-top: 20px;
				margin-bottom: 0;
			}
		}
		.wp-block-gallery {
			ul {
				li {
					margin-left: 0;
					margin-top: 0;
					padding-left: 0;
				}
			}
			figcaption {
				box-sizing: border-box;
			}
		}
		.wp-block-columns {
			@include spacing('margin-top', 0.5);
			@include spacing('margin-bottom', 0.5);
			
/*
			@include phone() {
				@include spacing('margin-left', -1);
				@include spacing('margin-right', -1);
			}
*/
			&.members_stats {
				position: relative;
				
				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					top: -185px;
					left: -25%;
					width: 50%;
					height: 185px * 2;
					background: image-url('pattern.png') 100% 100%/55px 55px;
					
					@include mobile() {
						left: auto;
						@include spacing('right', -1);
						// @include spacing('width', 2);
					}
				}
				.wp-block-column {
					// text-align: center;
					h2 {
						color: $blue;
						margin-bottom: 10px;
					}
					h2 + p {
						@include h_c();
					}
					h2 + p + h2 {
						padding-top: 0 !important;
						@include spacing('margin-top', 0.5);
					}
					&:first-child {
						padding-bottom: 30px;
					}
				}
				ul li {
/*
					list-style: none;
					margin-left: 0 !important;
					padding-left: 0 !important;
*/
					margin-left: 17px !important;
					// text-align: center;
				}
			}
			+ h2 {
				@include spacing('margin-top', -1);
			}
			&.alignfull,
			&.alignwide { // .has-2-columns
				@include spacing('margin-top');
				@include spacing('margin-bottom');
				align-items: center;
				
				.wp-block-column {
					margin-bottom: 0;
					flex-basis: calc(50% - 30px);
					box-sizing: border-box;
					
					// @include mobile() {
					@media ( max-width: 781px ) {
						flex-basis: calc(50% - 25px) !important;
					}
					@include phone() {
						flex-basis: 100% !important;
					}
					&:first-child {
						@include phone() {
							@include spacing('margin-bottom', 0.5);
						}
					}
					&:not(:first-child) {
						@include phone(false) {
							@include spacing('margin-left');
						}
						@include phone() {
							@include spacing('margin-top', 0.5);
						}
					}
					h2, h3, h4, p, blockquote {
						@include adjust_size('max-width', 450px);
					}
					.wp-block-image { // figure
						position: relative;
						overflow: hidden;
						max-width: none;
						border-bottom-right-radius: 15rem; // 112px = #rem * 16;

						&.signature {
							position: relative;
							z-index: -1;
						    margin-top: 35px;
						    margin-bottom: -25px;
						}
						img {
							width: 100%;
						}
					}
					&:first-child {
						
						@include phone(false) {
							@include spacing('padding-left');
						}
						h2, h3, h4, p, blockquote {
							margin-left: auto;
							margin-right: 0;
						}
						.wp-block-image {
							
							@include phone(false) {
								@include spacing('margin-left', -1);
							}
							figcaption {
								@include phone(false) {
									padding-left: 20px;
								}
							}
						}
					}
					+ .wp-block-column {
						
						@include phone(false) {
							@include spacing('padding-right');
						}
						h2, h3, h4, p, blockquote {
							margin-left: 0;
							margin-right: auto;
						}
						.wp-block-image {
							
							@include phone(false) {
								@include spacing('margin-right', -1);
							}
							figcaption {
								@include phone(false) {
									padding-right: 20px;
								}
							}
						}
					}
				}
			}
			&.alignfull {
				
				@media ( min-width: 800px ) {
					@include spacing('margin-left', -1);
					@include spacing('margin-right', -1);
				}
			}
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
		iframe {
		    width: 100%;
		    @include spacing('margin-top', 0.5);
		    @include spacing('margin-bottom', 0.5);
		}
	}
}