.parallax_clone { // image
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 0;
	background-position: 50% 50%;
	background-size: cover;
	transition: opacity 1s;
	overflow: hidden;
	
	&.preload {
		opacity: 0;
	}
}

.enter_stage {
	transition: opacity 1s, transform 1s $easeOutCubic;

	&.off_stage {
		opacity: 0;
		transform: translateY(50px);
	}
}