.plans_table_outer {
	position: relative;
	@include spacing('margin-top');
	@include spacing('margin-bottom');
	@include spacing('margin-left', -1);
	@include spacing('margin-right', -1);
}
.plans_table {
	@include p();
	overflow-x: auto;
	
	.plans_table_inner {
		display: table;
		width: 100%;
		@include adjust_size('max-width', 1300px);
		min-width: 1000px;
		border-left: solid 1px #fff;
		border-right: solid 1px #fff;
		@include spacing('border-left-width');
		@include spacing('border-right-width');
		margin: auto;
		box-sizing: border-box;
		
		@include mobile() {
			min-width: 1000px;
		}
		.row {
			display: table-row;
			
			> div { // cell
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				padding: 10px 0;
				
				&:first-child { // label cell
					// background: #fff;
					text-align: left;
					@include adjust_size('width', 250px);
					padding-right: 30px;
					line-height: 1.4;
				}
				&:not(:first-child) {
					// border-left: solid 5px #fff;
					font-weight: bold;
					color: $blue;
				}
				&.eligible {
					// color: #fff;
					// background: $blue;
					
					// &:empty {
						background: image-url('circle.png') no-repeat 50% 50%/8px 8px;
					// }
				}
				&.preferential {
					background: none;
					
					&:after {
						content: '★';
					}
				}
				&.has_packages {
					background: none;
					padding: 20px 0;
					
					> div {
						display: inline-block;
						vertical-align: middle;
						color: #999;
						line-height: 1.4;
						width: 50%;
						box-sizing: border-box;
						//padding: 0 10px;
						
						.label {
							font-size: 12px;
							font-weight: bold;
							
							+ .metric {
								padding-top: 5px;
							}
						}
						+ div {
							border-left: solid 1px #ccc;
						}
						&.eligible {
							color: $blue;
							
							&:after {
								content: '';
								display: block;
								height: 20px;
								width: 20px;
								background: image-url('circle.png') no-repeat 50% 50%/8px 8px;
								margin: 6px auto 0 auto;
							}
							// padding: 20px 0;
							// border-left: none;
							
							+ div {
								// border-left: none;
							}
							&.no_bullet:after {
								content: none;
							}
						}
					}
					&.eligible > div {
						color: $blue;
					}
				}
			}
			&.table_head {
				> div { // cell
					@include h_c();
					padding: 20px 0;
					border-left: solid 5px #fff;
					
					&:not(:first-child) {
						font-weight: bold;
						background: #6DABE5;
						color: $blue-darker;
					}
				}
/*
				> div { // cell
					position: relative;
					height: 100px;
					
					span {
						position: absolute;
						bottom: 8px;
						left: 50%;
						white-space: nowrap;
						transform-origin: 0 50%;
						transform: rotate(-90deg);
					}
					&:not(:first-child) {
						color: #fff;
						font-weight: bold;
						background: $blue_darker;
					}
				}
*/
			}
			&.section_heading_row {
				
				> div:first-child {
					font-weight: bold;
				}
				+ .row > div:not(:first-child) {
					border-top: none !important;
				}
			}
			&.section_child_row {
				
				> div:first-child {
					padding-left: 20px;
				}
			}
			&.price_row {
				font-weight: bold;
				
				> div {
					color: $black;
					// border-top: none !important;
					
					&:first-child {
						font-weight: normal;
						background: #fff;
					}
				}
			}
			&.count_row {
				
				> div {
					padding-top: 25px;
					padding-bottom: 20px;
					border-top: none !important;
					
					&:not(:first-child) {
						@include h_b($blue, true);
					}
				}
			}
			&.button_row {
				a {
					@include button($gold_darker);
					padding-left: 15px;
					padding-right: 15px !important;
					
					&:before, &:after {
						content: none;
					}
				}
				> div {
					padding-top: 35px;
					border-top: none !important;
					border-left: solid 5px #fff;
				}
			}
			+ .row > div:not(:first-child) { // cells
				border-top: solid 1px #e5e5e5;
			}
		}
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		bottom: 0;
		@include spacing('width');
		background-image: linear-gradient(to left, rgba(#fff,0), #fff);
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		@include spacing('width');
		background-image: linear-gradient(to right, rgba(#fff,0), #fff);
	}
}
/*
.key {
	float: right;
	margin-top: -60px;
}
*/
.need_help_block {
	text-align: center;
	background: #f2f2f2;
	@include spacing('margin-top', 1.5);
	@include spacing('margin-bottom', -1.5);
	@include spacing('margin-left', -1);
	@include spacing('margin-right', -1);
	@include spacing('padding-top');
	@include spacing('padding-bottom');
	@include spacing('padding-left');
	@include spacing('padding-right');
	@include pattern();
	
	* {
		position: relative;
		z-index: 1;
		display: inline-block;
		@include h_b($blue, true);
		line-height: 1.5;
		margin: 0 10px;
	}
	a {
		color: $gold_darker;
		transition: color 0.3s;
		font-family: $label_font;
		font-size: 1.85rem;
		
		&:hover {
			color: $blue;
		}
	}
}