html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea, button {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	
	&:focus {
		
	}
}
img, svg {
	display: block;
}
[href] {
	color: inherit;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
strong, b {
	font-weight: bold;
}
em {
	font-style: italic;
}
*:focus {
	box-shadow: none;
	outline: none;
	border: none;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.screen_reader_only {
	display: none;
}
.inline_block {
	display: inline-block;
}

html, body {
	scroll-behavior: smooth;
}
main {
	display: block;
}